.Panel {
  border-radius: 4px;
  border: 1px solid #776589;
  background: #1D1127;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.PanelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #776589;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #776589;
  background: #2B1D38 none repeat scroll;
  line-height: 1;
  position: relative;
  padding: 16px;
}

.Flexbox {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
}

.FieldWrapper {
  padding: 16px 0px 16px 16px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #776589;
}

.FieldDescription {
  font-weight: normal;
  margin-bottom: 0px;
  width: 50%;
  padding-right: 10px;
  flex-shrink: 0;
}

.FieldLabel {
  font-size: 16px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, max-content);
  line-height: 16px;
}

.FieldHelp {
  font-size: 14px;
  margin-top: 8px;
  line-height: 1.4;
}

.FieldControl {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  position: relative;
}

.Input {
  display: block;
  width: 100%;
  border: 1px solid rgb(198, 190, 207);
  border-radius: 4px;
  box-shadow: rgba(37, 11, 54, 0.04) 0px 2px 0px inset;
  box-sizing: border-box;
  padding: 0.5em;
  resize: vertical;
  background: #1D1127;
  color: #C6BECF;
}

.Input:focus {
  border: 1px solid #C6BECF;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
