body {
  width: 600px;
  padding: 5px;
}

table {
  position: inherit;
  display: grid;
  box-sizing: border-box;
  border-collapse: collapse;
  border-radius: 4px;
  margin: 0px;
  z-index: 5;
  overflow-x: scroll;
}

thead, tbody, tr {
  display: contents;
}

thead tr th {
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  min-width: 24px;
  padding: 0 16px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: #FAF9FB;
  color: #645574;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

thead tr {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

tbody tr td {
  border-top: 1px solid #C6BECF;
  padding: 8px 0 8px 20px;
  min-width: 0;
  min-height: 40px;
  background-color: #ffffff;
  font-size: 14px;
}

tr div {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  border: 1px solid #C6BECF;
  border-radius: 4px;
}

button {
  display: inline-block;
  line-height: 1;
  border-radius: 3px;
  padding: 0px;
  text-transform: none;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(100, 95, 199);
  border: 1px solid rgb(61, 50, 142);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px;
  cursor: pointer;
}

button span {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 12px 16px;
}

.button-container {
  display: flex;
  align-items: flex-end;
  font-size: 22px;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.PaginationContainer {
  padding-top: 8px;
  display: flex;
  -moz-box-pack: end;
  justify-content: flex-end;
}

.ButtonGrid {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0px;
  -moz-box-align: center;
  align-items: center;
}

.ButtonGrid > button:first-child:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ButtonGrid > button:last-child:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.StyledButton {
  display: inline-block;
  line-height: 1;
  border-radius: 3px;
  padding: 0px;
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
  color: rgb(198, 190, 207);
  cursor: not-allowed;
  opacity: 0.65;
}

.StyledButton.enabled {
  opacity: 1;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1D1127;
    color: #FFFFFF;
  }

  thead tr th {
    background-color: #2B1D38;
    border: 1px solid #776589;
    color: #776589;
  }

  tbody tr td {
    background-color: #1D1127;
    color: #FFFFFF;
  }

  a {
    color: #A396DA;
  }
}
